.App {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

/* h1,
h2 {
  margin-left: 20px;
} */

.h2Header {
  text-align: left;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* .AppBar {
  margin-bottom: 250px;
} */

.ModalWindow {
  display: block;
}
